.cartusersdiv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    height: 50vh;
}

.adduserdiv,
.usersdiv {
    width: 50%;
    padding: 20px;
    border: 1px solid rgba(21,21,21,0.5);
    margin: 0 20px;
}
